<%- include('partials/header') %>

  <h1>Add the details</h1>
  <div class="cbutton">
    <form class="" action="/added" method="post">
      <input class="form-control topone" type="text" placeholder="Name of the book">
      <input class="form-control" type="text" placeholder="Name of the author">
      <input class="form-control" type="text" placeholder="Number of chapters">
      <button type="submit" class="btn btn-primary obutton">Add a book</button>
    </form>
  </div>

<%- include('partials/footer') %>
