<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Acme|Averia+Libre|Literata|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="bg">
      <div class="frontpage">
          <h1>BookTab</h1>
          <br>
          <h2>Keep tabs on your favourite books by making notes for any chapters, writing down any thoughts and reading them in an easy manner</h2>
          <br>
          <br>
        <div class="login2">
          <form class="" action="/login" method="post">
            <button type="submit" class="btn btn-dark btn-lg">Login</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
