<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Acme|Averia+Libre|Literata|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="loginblack22">
      <div class="loginorange">
        <div class="login">
          <h1 class="h1class" style="padding-bottom: 50px;padding-top: 140px;">Reset Password</h1>
          <h2 style="padding-bottom: 30px;color:white;">Enter the email to which OTP will be sent</h2>
          <div class="errorbox" style="width:40%;margin-left:30%;">
            <p class="errorp"><%= filler%></p>
          </div>
          <form class="" action="/resetpass" method="post">
            <input class="form-control" type="text" placeholder="Enter email" style="width: 545px;margin-left: 30%;margin-bottom: 50px;" name="email">
            <button type="submit" class="btn btn-light" style="margin-bottom: 140px;">Send mail</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
