body{
  background-color: #e8e8e8;
}

h1{
  text-align: center;
  margin-top: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 4rem;
}

p{
  text-align: center;
  margin-top: 100px;
  opacity: 0.3;
  font-size: 2rem;
}

.cbutton{
  text-align: center;
}

.obutton{
  opacity: 0.7;
}

.form-control{
  width: 30%;
  margin-bottom: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.topone{
  margin-top: 40px;
}

.bookdeats{
  margin: 20px 35% 20px 5%;
  position: relative;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #5588a3;
}

h2{
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
}

h3{
  font-family: 'Lora', serif;
  font-size: 1.2rem;
}

.notebutton{
  position: absolute;
  right: 20px;
  top: 30%;
}

.addmore{
  position: absolute;
  right: 10%;
  top: 30%;
}
